@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

:root {
  --primary: #00c8eb;
  --bg: rgb(255, 217, 61);
  --second: rgb(79, 32, 13);
  --text: rgb(246, 241, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(246, 241, 233);
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  font-family: "Lora", serif;
  text-align: right;
  line-height: 1.5em;
  font-size: 50px;
  justify-content: right;
  margin: 30px 100px;
  color: var(--second);
}

h2,
h3 {
  font-family: "Lora", serif;
  color: var(--second);
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(255, 132, 0);
  border-bottom: 10px solid var(--second);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--second);
}

.navbar a:hover {
  font-weight: bold;
}

#hamburger-menu {
  display: none;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.incard {
  display: flex;
  gap: 2rem;
}

.incard div p {
  text-align: justify;
  margin-bottom: 10px;
}
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: var(--text);
}

header {
  display: inline;
}

.headline {
  display: flex;
  justify-content: space-around;
}

#carousel {
  position: relative;
  margin-top: 4px;
  width: 50%;
  height: 70vh;
}

#nextBtn,
#prevBtn {
  position: absolute;
  top: 50%;
}

#nextBtn {
  left: 30px;
}

#prevBtn {
  right: 30px;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

.carousel-slide {
  flex: 0 0 100%;
  display: none;
  animation: fadeOut 1s ease forwards;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.active {
  display: block;
  animation: fadeIn 1s ease forwards;
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 10px;
  cursor: pointer;
  border: solid 2px var(--color-primary);
  padding: 4px 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
  transform: scale(1);
}

button:hover,
button:active {
  transition: all 0.3s ease;
  transform: scale(1.2);
}

.description {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 50px;
  width: 30%;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.card-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
}

.card-child section {
  width: 45%;
  position: relative;
  border-radius: 14px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  transform: scale(0.95);
  cursor: pointer;
}

.card-child section:hover {
  transition: all 0.3s ease;
  transform: scale(1);
}

.card-child img {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.card-child p {
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  padding: 8px;
  background: var(--primary);
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 14px;
}

.card-child h3 {
  background: var(--primary);
  width: 180px;
  padding: 10px;
  border-radius: 14px;
  position: absolute;
  top: -20px;
  left: -8px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

aside {
  flex: 1;
}

footer {
  padding: 20px;
  color: white;
  background-color: rgb(255, 132, 0);
  text-align: center;
  font-weight: bold;
  border-top: 4px solid var(--second);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.3s ease;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  .headline {
    flex-flow: column nowrap;
    align-items: center;
  }

  .description {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #carousel {
    width: 100%;
    height: 50vh;
  }

  .carousel-container {
    width: 100%;
    height: 50vh;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }

  h1 {
    text-align: center;
    line-height: 1.5em;
    justify-content: center;
    margin: 20px;
  }
  .incard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-child section {
    width: 90%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    display: block;
    top: 100%;
    right: -100%;
    background-color: var(--second);
    width: 20em;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.run {
    right: 0;
  }

  
  .navbar .navbar-nav li a {
    color: rgb(255, 217, 61);
    line-height: 3em;

  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scalex(0.2);
  }

  main aside {
    align-self: stretch;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 0;
  }
}
